.card-container {
    margin: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    position: relative;
    background: var(--backgroundStyleMode);
    background-size: 100% 47%;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
    transition: all .5s;

    &:hover {
        box-shadow: 0 10px 20px rgb(0 0 0 / 40%);
        cursor: pointer;
    }
}

.card-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 10px solid #fff;
    object-fit: cover;
    margin: 30px auto;
}

@media screen and (min-width: 1920px) {
    .card-container {
        width: 400px;
        height: 400px;
    }

    .card-pic {
        width: 200px;
        height: 200px; 
    }
}

@media screen and (max-width: 1150px) {
    .card-container {
        width: 200px;
        height: 200px;
    }

    .card-pic {
        width: 100px;
        height: 100px; 
    }
}

@media screen and (max-width: 820px) {
    .card-container {
        width: 135px;
        height: 135px;

        & > p {
            position: relative;
            top: -10px;
        }
    }

    .card-pic {
        width: 50px;
        height: 50px; 
    }
}