.app__main {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: all .5s;
}

@media screen and (max-width: 660px) {

    .app__main  {
        margin-top: 11vh;
    }
}

