.main {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.section__wrapper {
    width: 70%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 0 -100px;
    width: 200px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: -1px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px 3px 10px 0px rgba(50, 50, 50, 0.75);

    p {
        font-size: 50px;
        color: black;
    }
}

.timer-dote {
    margin-bottom: 10px;
}

.timer-dote-active {
    color: brown;
}