.logo {
    margin-left: 1rem;
}
.logo > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo__title {
    background-color: transparent;
}

.logo__title.logo__subtitle {
    color: #2196F3;
    background-color: white;
}