@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  color: rgb(40, 34, 34);
  text-transform: uppercase;
  font-size: calc( (100vw - 480px)/(1280 - 480) * (22 - 13) + 13px);
}