.cards-field {
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards-field-one {
    width: 35rem;
}
.cards-field-two {
    width: 36rem;
}
.cards-field-three {
    width: 38rem;
}

.cards-field-pause {
    position: relative;
}

.cards-field-pause::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}