.field__header {
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 50%;
    border-radius: 3px;

    >p {
        cursor: default;
        font-size: calc( (100vw - 480px)/(1280 - 480) * (22 - 13) + 13px);
    }
}

.field__title-button {
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
        color: red;
        text-shadow: 0px 0px 15px rgb(242, 255, 0);
        // background: linear-gradient(90deg, #fcff9e90 0%, #c67700a1 100%);
    }

    &:active {
        transform: scale(0.92);
        // background: linear-gradient(90deg, #ffcb9e90 0%, #c61e00a1 100%);
    }
}